[submodule "dependencies/muduo"]
	path = dependencies/muduo
	url = https://github.com/chenshuo/muduo.git
[submodule "dependencies/hiredis"]
	path = dependencies/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "dependencies/redis-plus-plus"]
	path = dependencies/redis-plus-plus
	url = https://github.com/sewenew/redis-plus-plus.git
